@model CES2020.Models.Forsendelse

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product</legend>
        <div class="editor-label">
            @Html.LabelFor(model => Model.Fra.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Fra.Name)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => Model.Til.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Til.Name);
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => Model.Rekommanderet)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(modal => Model.Rekommanderet)
        </div>
        <br />
        <br />

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.PakkeDimensioner.Bredde);
            </div>
            <div>
                @Html.TextBoxFor(model => Model.PakkeDimensioner.Bredde);
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.PakkeDimensioner.Laengde);
            </div>
            <div>
                @Html.TextBoxFor(model => Model.PakkeDimensioner.Laengde);
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.PakkeDimensioner.Hoejde);
            </div>
            <div>
                @Html.TextBoxFor(model => Model.PakkeDimensioner.Hoejde);
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => Model.Vaegt);
            </div>
            <div>
                @Html.TextBoxFor(model => Model.Vaegt);
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => Model.Godstype)
        </div>
        <div class="editor-label">
            @Html.EnumDropDownListFor(model => Model.Godstype)
        </div>

        

    </fieldset>
    <input type="submit" value="Søg" />

}

<h1>Fra: </h1>
<h1>Til: </h1>

