@model CES2020.Integrs.dto.ForbindelseDto

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product</legend>
        <div class="editor-label">
            @Html.LabelFor(model => Model.From)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.From)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => Model.To)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.To)
        </div><br />




        <div>
            <label class="dato" for="dato">Dato:</label>
        <input type="date" id="dato" name="trip-start" min="2018-01-01" max="2100-12-31">@Html.TextBoxFor(model => Model.To)
            </div>
    </fieldset>
    <input type="submit" value="Søg" />

}

<h1>Fra: @Model.From</h1>
<h1>Til: @Model.To</h1>

