@model CES2020.Integrs.dto.ForbindelseDto

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product</legend>
        <div class="editor-label">
            @Html.LabelFor(model => Model.From)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => Model.From)
        </div>
        <div class="editor-label">
            <div style="float: left;">
                @Html.TextBoxFor(model => Model.To)
            </div>
            @Html.LabelFor(model => Model.To)
        </div>
    </fieldset>
    <input type="submit" value="Create New Product" />

}

<h1>Fra: @Model.From</h1>
<h1>Til: @Model.To</h1>

